/.metadata/
/.recommenders/
.DS_Store
apache-tomcat-8.0.53
workspace/Servers
workspace/.DS_Store
workspace/DevelopmentManagementSystem/.classpath
workspace/DevelopmentManagementSystem/.project
workspace/DevelopmentManagementSystem/.settings/
apache-tomcat-8.5.34
workspace/DevelopmentManagementSystem/bin/
apache-tomcat-8.5.38
workspace/apache-tomcat-8.5.38/
workspace/DevelopmentManagementSystem/bin/
apache-tomcat-8.5.34
workspace/DevelopmentManagementSystem/bin/
apache-tomcat-8.5.33

